.contactame {
    /* Eliminamos el padding-top del 10% que lo desplaza hacia abajo */
    min-height: 100dvh;
    padding-top: 80px; 
    padding-left: 0;
    padding-right: 0;
}

.cuadroContacto{
    width: 100%;
    padding: 2rem;
    color: rgb(237, 230, 200);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(104, 104, 104, 0.1);
    z-index: 2;
}

.cuadroContacto h2{
    color: rgb(225, 146, 171);
    text-shadow: 2px 2px 4px #402835;
}

@media (max-width: 991px) {
    .text-lg-end {
        text-align: left;
    }
    .align-items-lg-end {
        align-items: flex-start !important;
    }
}

.cuadroProyectos, .cuadroContacto {
    padding: 1.5rem; /* Menos padding en móvil para ganar espacio */
}

@media (min-width: 992px) {
    .cuadroProyectos, .cuadroContacto {
        padding: 3rem; /* Más aire en pantallas grandes */
    }
}

.cuadroContactoInterior{
    margin: 1rem;
    padding: 1rem;
    background-color: #000000a4;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
}

.cuadroRedesInterior{
    margin: 1rem;
    padding: 1rem;
    background-color: #c1c1c1a4;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
}